<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>quatre-vingt-quatre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap justify-content-left py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="./static/images/surrenderflag.jpg" alt="Box logo" width="60">
        <span class="fs-4"  >Suck My Blue</span>
      </a>
    </header>
  </div>

    <div class="container mt-5">

        <h1>France</h1>
        <p>Hate the French but cant tell them that. You can now.
            <br>Tell them how shit they are using their own disgusting tongue.
            <br> Record your message for the French and have it translated into that abomination of a language.
        </p>
        <button id="startBtn" class="btn btn-primary" onclick="startRecording()">Record Audio</button>
        <button id="stopBtn" class="btn btn-danger" onclick="stopRecording()">Stop Recording</button>
        <button id="removeBtn" class="btn btn-secondary" style="display: none;" onclick="resetAudio()">Remove Audio</button>

        <br>
        <br>
<!-- The message indicating the recording status -->
        <p id="recordingStatus" style="display: none;">Recording in progress...</p>
        <audio id="audioPlayer" controls style="display: none;"></audio>

        <br>
        <button id="transBtn" class="btn btn-secondary" style="display: none;" onclick="transAudio()">Translate</button>



        <hr>

        <h2>Response:<div id="spinner"  class="spinner-border text-dark" style=" position:relative; left:20px; display:none;" role="status">
          <span class="visually-hidden"></span>
        </div><button id="clearBtn"  class="btn btn-secondary" style="position:relative; left:300px;display:none;" onclick="clearText()">Clear</button>
        </h2>
        <div class="form-group">
            <label for="output1">English</label>
            <input type="text" class="form-control" id="output1" readonly>
        </div>
        <div class="form-group">
            <label for="output2">🤮</label>
            <input type="text" class="form-control" id="output2" readonly>
        </div>
        <hr>
        <h2>Audio Output:</h2>
        <audio  id="audioOutput" controls style="display: none;">
        </audio>
    </div>



                <!-- Add your image here -->



    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <!-- Include the JavaScript file -->
    <script src="{{ url_for('static', filename='record.js') }}"></script>
</body>
<footer>
    <div id="copyright">
						<ul><li>&copy; Untitled</li></ul>
    </div>
</footer>
</html>